  body {
      position: relative; 
      background-color: #F0F0F0;
      height:100%;
      font-family: 'Roboto Condensed', sans-serif;
  }

  #dlaczegoMy {padding-top:50px; padding-bottom: 50px; color: #fff; background-color:#f2f2f2;}
  #kursy {padding-top:50px; padding-bottom: 50px;color: #fff; background-color: #f9f9f9;}
  #jezyki {padding-top:50px; padding-bottom: 50px;color: #fff; background-color: #f2f2f2;}
  #przedmioty {padding-top:50px;padding-bottom: 50px;color: #fff; background-color: #e6e6e6;}
  #kontakt {padding-top:50px;padding-bottom: 50px;color: #fff; background-color: #1D3557;}

  #left-image-arrow, #right-image-arrow {
      width: 30px;
  }

  .navbar {
      background-color: #F7F7F7;
      border: 0px solid;
  }

  .nav.navbar-nav.navbar-right li a {
    color:#1D3557;
    text-transform: uppercase;
    font-size: 12px;
}

#myNavbar {
    margin-right: 5.5%;
}

.navbar-inverse .navbar-brand{
    color: #1D3557;
}

.navbar-inverse .navbar-nav > .active > a {
        background-color: #DCDCDC;
        font-weight: 900;
}

.btn {
    padding: 7px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #e9583f;
    color: #ffffff;
    border: none;
    margin-top: 58px;
    float: right;
    margin-right: 6.5%;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #e64327;
}
 
.btn-primary:active, .btn-primary.active {
    background: #e64327;
    box-shadow: none;
}

.someclassname { 
    height: 100px;
    background-color: #1D3557; 
    }

a span:first-child {
  padding: 4px 2px;
  margin-right: 13px;
  margin-left: 13px;
  display: inline-block;
  margin-top: 60px;
}

a svg {
  display: inline-block;
  vertical-align: middle;

}

.navbar-header {
    padding-left: 7%;
}

.someclassname img {
    width: 20px;
}

.someclassname span {
    color:#F7F7F7;
}

.someclassname span:first-child {
    padding-left: 7%;
}


.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.centered-text {
    text-align:center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color:white;
   }

.whyUsImage {
    width: 200px;
    display: block;
    margin: 0 auto;

}

                                /* SECTIONS */

.forAllSections {
    color:#1D3557;
    font-family: Verdana , sans-serif;
}


.centerMyText {
    text-align: center;
}

.allSections h2  {
    padding-bottom: 30px;
}

                                /* NAVBAR ICONS */
.telephone {
    font-weight: 900;
}

.logo {
    font-weight: 900;
}
                                /* SECTION 2 */
#kursy img {
    width: 170px;
    display: block;
    margin: 0 auto;
}

                                /* SECTION 3 */
#jezyki img {
    padding: 7px;
    position: relative; 
}

#jezyki h3 {
    margin-top: 4px;
}

                                /* SECTION 4 */

#przedmioty img {
    width: 150px;

    position: relative; 
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;

}

#przedmioty h3 {
    text-align: center;
}

                                /* SECTION 5 */

#kontakt h2 {
    margin-bottom: 30px;
}

#kontakt img {
    width: 40px;
}

#kontakt button {
    margin-top: 15px;
}

.form-control {
    width:270px;
}

.infos {
    margin-bottom: 5%;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    position: relative;
    overflow: hidden;
    float:left;
    width:100%;
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    max-width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: left;
    padding: 7px;
}

                                /* SECTION 3: NAVIGATION */

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    padding:5px 10px;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;      
    position: absolute;
    cursor: pointer;
    z-index: 4;
    top:40%;
    background: rgba(0,0,0,0.5);
    color: #fff;     
}

.nbs-flexisel-nav-left {
    left: 10px;
}

.nbs-flexisel-nav-left:before {
    content: "<"
}

.nbs-flexisel-nav-left.disabled {
    opacity: 0.4;
}

.nbs-flexisel-nav-right {
    right: 5px;    
}

.nbs-flexisel-nav-right:before {
    content: ">"
}

.nbs-flexisel-nav-right.disabled {
    opacity: 0.4;
}


                                /* SECTION 3 AND 4: ANIMATION: UP */

.bounce-up .subject {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-up.in-view .subject {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0pxid="convenience-image" );
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.form-control {
    margin: 0 auto; 
}
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* RWD */ 
@media (max-width: 779px) {
.someclassname { 
    display: none;
    }

}


@media (min-width: 1024px) {

    .whyUsImage {
    width: 150px;

}

}
@media (max-width: 700px) {
      .item h1 {
    font-size: 30px !important;
    font-weight: 400 !important;
    margin-top: 45%;
   }

  .item p {
   display: none;
   }
   .whyUsImage {
    width: 150px;
    margin-top: 15%;
}

}
@media (max-width: 460px) {
.whyUsImage {
    margin-top: 40%;
}
    .item h1 {
    font-size: 30px !important;
    font-weight: 400 !important;
    margin-top: 45%;
   }

  .item p {
   display: none;
   }

}
